<header class="min-h-44 bg-purple-200">
    <div class=" max-w-6xl mx-auto ">
        <!-- top section -->
        <section class="flex justify-between items-center py-3 px-4 lg:px-0 gap-4">
            <button class="hidden md:block">
                <i class="fas fa-search"></i>
            </button>
                <!-- brand  -->
            <h1 class="bg-teal-500 uppercase font-bold md:text-3xl flex-grow md:flex-grow-0">
                Procity Blog
            </h1>
            <!-- mobile search -->
            <button class="block md:hidden">
                <i class="fas fa-search"></i>
            </button>

            <button class=" py-2 px-6 border border-black border-t-4 font-semibold hover:bg-black hover:text-white hidden md:block">
                subcribe
            </button>

            <button class="block md:hidden">
                <i class="fas fa-bars "></i>
            </button>
                   
            
        </section>

             <!-- navigation section -->
        <section  class="fixed md:static bg-white top-0 z-20 h-dvh w-72 md:w-auto">
            <div class=" md:hidden text-right">
                <button class="p-4 border">
                        <i class="fas fa-times"></i>
                </button>
            </div>
            <ul class=" flex justify-center flex-col  md:flex-row">
                <li>
                    <a href="#" class="nav-style ">Home</a>
                </li>
                <li>
                    <a href="#" class=" nav-style">stockmarket</a>
                </li>
            </ul>

        </section>
    </div>
</header>

<div class="fixed top-0 left-0 h-screen w-full bg bg-black bg-opacity-50 z-10 md:hidden">

</div>